.item{
    display: flex;
    flex-flow: column;
    width: 50%;
    margin: 20px;
}

.headline{
    background: #AFEEEE;
}

#scrollTableView{
    overflow: auto;
    width: 350px;
    height: 150px;
}

table{
    text-align: center;
    margin: 0;
    border-spacing: 0;
}

table thead{
    position: sticky;
    top: 0;
    left: 0;
}

table tbody{
    overflow-y: scroll;
}

table th{
    background-color: #DDDDDD;
}

table td{
    border: solid 1px gray;
}

#upperAndTable{
    position: relative;
}

#upperLayer{
    position: absolute;
    top: 24px;
    z-index: 1;
    width: 350px;
    height: 150px;
}

#upperLayerToggle{
    margin-top: 20px;
}

#graphPointLabel{
    display: flex;
    flex-direction: row;
}

.graphPoint{
    margin-top: 20px;
    margin-right: 50px;
}

.editBox{
    display: flex;
    flex-direction: row;
}

.editTextBox{
    border: none;
}

#selectPos{
    position: relative;
}

select{
    width: 30%;
    margin: 10px;
}

#openSelectButton{
    width: 30%;
    margin: 10px;
}

#select{
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
    appearance: none;
    position: absolute;
    left: 0;
    top: 61px;
    height: 26px;
    background: transparent;
    border: none;
}

#select:focus{
    outline: none;
}



